<div class="container">
  <br />
  <a routerLink="/contacts/create" class="btn">New Contact</a>

  <table class="table responsive">
    <thead>
      <tr>
        <th>Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Phones</th>
        <th>Options</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let c of contactList">
        <td>{{ c.name }}</td>
        <td>{{ c.lastName }}</td>
        <td>{{ c.email }}</td>
        <td>{{ c.phones }}</td>
        <td>
          <a routerLink="/contacts/edit/{{ c.contactId }}" class="btn">Edit</a>
          <button class="btn red" (click)="delete(c.contactId)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
