<div class="container">
  <h3 class="center-align">Editar Usuario</h3>

  <form [formGroup]="fgValidation" class="col s12" (ngSubmit)="edit()">
    <input formControlName="contactId" type="hidden" class="validate" />
    <div class="row">
      <div class="input-field col s6">
        <input formControlName="name" type="text" class="validate" />
        <label class="active" for="name">Name</label>
      </div>
      <div class="input-field col s6">
        <input formControlName="lastName" type="text" class="validate" />
        <label class="active" for="lastName">Last Name</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input formControlName="phones" type="text" class="validate" />
        <label class="active" for="phones">Phone Number</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input formControlName="email" type="email" class="validate" />
        <label class="active" for="email">Email</label>
        <span
          class="helper-text"
          data-error="Invalid email"
          data-success="Correct!"
          ></span
        >
      </div>
    </div>

    <div class="row center-align">
      <button
        [disabled]="!fgValidation.valid"
        class="btn waves-effect waves-light"
        type="submit"
        name="action"
      >
        Enviar
        <i class="material-icons right">send</i>
      </button>
    </div>
  </form>
</div>
